.App {
  --color-black: #555;
  --color-black-dark: #333;
  text-align: center;
  padding: 10vh 0;
  color: var(--color-black);
  --form-border-color: transparent;
  --form-back-color: transparent;
  --input-border-color: var(--color-black-dark);
  --input-invalid-color: var(--color-black-dark);
  --a-link-color: var(--a-visited-color);
}

.App form {
  max-width: 1000px;
  margin: 0 auto;
}

.App input {
  min-width: 500px;
  max-width: 100%;
  margin: 0;
}

.App img {
  max-width: 100px;
  margin: 0 auto;
  filter: invert(1);
}

.App h4 {
  color: var(--color-black);
}

@media all and (max-width: 767px) {
  .App input {
    min-width: 200px;
    width: 100%;
  }
}
