.App {
  --color-light-secondary: #d5dce6;
}

@media (prefers-color-scheme: dark) {
  .App {
    --color-light-secondary: #333;
  }
}

.App {
  --color-black: #555;
  text-align: center;
  padding: 10vh 0;
  color: var(--color-black);
  --form-border-color: transparent;
  --form-back-color: transparent;
  --input-border-color: var(--color-light-secondary);
  --input-invalid-color: var(--color-light-secondary);
  --a-link-color: var(--a-visited-color);
}

.App form {
  max-width: 1000px;
  margin: 0 auto;
}

.App input {
  min-width: 500px;
  max-width: 100%;
  margin: 0;
}

.App img {
  max-width: 100px;
  min-height: 100px;
  margin: 0 auto;
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  .App img {
    filter: invert(1);
  }
}

.App h4 {
  color: var(--color-black);
}

@media all and (max-width: 767px) {
  .App input {
    min-width: 200px;
    width: 100%;
  }
}
